body {
    font-family: sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  .song {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .song h2 {
    margin-top: 0;
  }
  
  pre {
    white-space: pre-wrap; /* 折り返しできるように */
    font-family: monospace;
  }